<!-- <h1> About Your Routine </h1>
<ul>
<li><h2>User ID: <%= link_to @routine.user_id, user_path  %></h2></li>
<br>
<li><h2>Exercise ID: <%= link_to @routine.exercise_id, user_path %></h2></li>
<br>
<li><h2>Rep(s): <%= @routine.reps %></h2></li>
</ul>
