<h1>Exercises</h1>

<% @exercises.each do |exercise| %>
<h2><ul><li><%= link_to exercise.name.capitalize, exercise_path(exercise) %></li></ul></h2>
<%= link_to 'Remove :)',exercise, method: :delete %>
<% end %>
